.admin-orders {
  padding: 30px;
}

.admin-orders table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-orders table th,
.admin-orders table td {
  padding: 10px;
  border: 1px solid #ddd;
}
